.wp-urb-reaction-icons .wp-urb-reaction {
    font-size: 50px !important;
    margin-right: 15px;
}

.wp-urb-reactions {
    position: relative;
}

.wp-urb-reaction-icons {
    display: none;
    position: absolute;
    top: -35px;
    left: 60px;
    padding: 6px;
}

.wp-urb-reaction-like .fa:hover+.wp-urb-reaction-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.wp-urb-reaction-icons:hover {
    display: block;
}

.wp-urb-reaction-icons .wp-urb-reaction {
    margin-right: 8px;
    font-size: 20px;
}

.wp-urb-reaction-icons .wp-urb-reaction i {
    margin-right: 4px;
}

.wp-urb-reactions:hover .wp-urb-reaction-icons {
    display: flex;
}

.wp-urb-reaction-icons .wp-urb-reaction:hover {
    transform: scale(1.5);
    cursor: pointer;
}

.wp-urb-reaction-icons .wp-urb-reaction {
    transition: .3s;
}

.wp-urb-reaction-icons .reaction-count{
    font-size: 18px;
}
.wp-urb-reaction-icons span.current-reaction{
    font-size: 12px !important;
}

